@page
@model WebApplication3.Pages.Account.RegisterAdminModel
@{
}

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Admin Registration </h1>

			<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.FirstName">First Name</label>
					<input type="Text" min="1" max="30" asp-for="RModel.FirstName" class="form-control" />
					<span asp-validaton-for="RModel.FirstName" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.LastName">Last Name</label>
					<input type="Text" min="1" max="30" asp-for="RModel.LastName" class="form-control" />
					<span asp-validaton-for="RModel.LastName" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="col-sm-2 col-form-label" asp-for="RModel.Gender"></label>
					<div class="col-sm-10 d-flex align-items-center">
						<div class="form-check form-check-inline">
							@Html.RadioButtonFor(m => m.RModel.Gender, "Male",
							new {@class = "form-check-input"})
							<label class="form-check-label">Male</label>
						</div>
						<div class="form-check form-check-inline">
							@Html.RadioButtonFor(m => m.RModel.Gender, "Female",
							new {@class = "form-check-input"})
							<label class="form-check-label">Female</label>
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.NRIC" oninput="this.value = this.value.toUpperCase()">NRIC</label>
					<input type="Text" asp-for="RModel.NRIC" class="form-control" />
					<span asp-validaton-for="RModel.NRIC" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Email">Email Address</label>
					<input type="Text" asp-for="RModel.Email" class="form-control" />
					<span asp-validaton-for="RModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Password">Password</label>
					<input type="password" asp-for="RModel.Password" class="form-control" />
					<span asp-validaton-for="RModel.Password" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.ConfirmPassword">Confirm Password</label>
					<input type="password" asp-for="RModel.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="RModel.ConfirmPassword" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="col-sm-2 col-form-label" asp-for="RModel.DateOfBirth"></label>
					<div class="col-sm-10">
						<input class="form-control" asp-for="RModel.DateOfBirth" />
					</div>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Resume">Resume</label>
					<input type="file" asp-for="RModel.Resume" class="form-control" />
					<span asp-validaton-for="RModel.Resume" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.WhoamI">Who am I:</label>
					<textarea asp-for="RModel.WhoamI" class="form-control" rows="4" cols="50"></textarea>
					<span asp-validaton-for="RModel.WhoamI" class="text-danger"></span>
				</div>

				<div class="col-sm-10">
					<input class="form-control" asp-for="RModel.Salt" hidden />
				</div>
				<div class="col-sm-10">
					<input class="form-control" asp-for="RModel.PasswordHashed" hidden />
				</div>
				<div class="col-sm-10">
					<input class="form-control" asp-for="RModel.OTP" hidden />
				</div>
				<div class="col-sm-10">
					<input class="form-control" asp-for="RModel.OTPValidTil" hidden />
				</div>
				<div class="col-sm-10">
					<input class="form-control" asp-for="RModel.VerifiedAcc" hidden />
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</form>
		</div>
	</div>
</div>